
        <div class ="row">
        <!--Elemento-->
          <?=textUsuario($Usuario_id);?>  
        </div>
        <!--Elemento-->
        <div class = "row">
          <div class="file-field input-field">
            <div class="input-field col s12">
              <?=emailCamp("idUser","Usuario",$Usuario_id,"Usuario");?>   
            </div>
          </div>
        </div>
        <div class = "row">
          <!-- Elemento -->
          <div class="file-field input-field">
            <div class="input-field col s12">
              <?=contraseñaCamp("idUser","Usuario",$Usuario_id,"password");?>   
            </div>  
          </div>
        </div>
        <div class = "row">
          <div class="file-field input-field">
            <div class="input-field col s12 l12 left">
              <button  id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
                <i class="material-icons right">add</i>
              </button>
              <a id="" href="usuarios.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
      </div>
  </div>
</div>
</div>
</div>




