<label for="rol"><strong>Área del Programa</strong></label>
          </div>
        </div>
        
        <div class="row">
          <div class="file-field input-field">
            <div class="input-field col s6 l6">
              <i class="material-icons prefix"> </i>
              <input id="fechaI" type="date" name="fechaI" required>
              <label for="rol"><strong>Fecha de Inicio:</strong></label>     
          </div>
          </div>
          <div class="file-field input-field">
            <div class="input-field col s6 l6">
              <i class="material-icons prefix"> </i>
              <input id="fechaF" type="date" name="fechaF" >
              <label for="rol"><strong>Fecha de Termino:</strong></label>     
          </div>
          </div>
          </div>
        <div class="file-field input-field">
          <div class="input-field col s12 l12">
            <i class="material-icons prefix"> </i>
            <input required id="objetivo" name="objetivo" placeholder="Ej. Lograr un nivel apto de lecturas para menores de 10 años (Ninguno en caso de no tener)" type="text" class="validate">
            <label for="rol"><strong>Objetivo del Programa</strong></label>     
        </div>
        </div>
        
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button id="testFormPrograma" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a title="volver" id="" href="./consultaPrograma.php"         
            class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i></a>
            
        </div>
        </div>
      </form>
      </div>
  </div>
</div>
</div>
</div>
</div>