<div class="row">
    <div class="input-field col s2">
        <select id="OrdenarPor" name="OrdenarPor" required>
            <option value="1" selected>Ascendente</option>
            <option value="0">Descendente</option>
        </select><label>Ordenar por fecha</label>
    </div>
    <div class="input-field col s10">
        <i class="material-icons prefix">search</i>
        <input id="ProgramasBeneficiariaB" placeholder="cuidado dental" type="text" class="validate">
        <label for="rol">Escribe el nombre de un programa de atención. </label>     
    </div>
</div>