<div class="row">
    <div class="input-field col s2">
        <select id="BuscarPor" name="BuscarPor" required>
            <option value="1" selected>Plan educativo</option>
            <option value="0">Escuela</option>
        </select><label>Buscar por</label>
    </div>
    <div class="input-field col s2">
        <select id="OrdenarPor" name="OrdenarPor" required>
            <option value="1" selected>Ascendente</option>
            <option value="0">Descendente</option>
        </select><label>Ordenar por fecha</label>
    </div>
    <div class="input-field col s8">
        <i class="material-icons prefix">search</i>
        <input id="Escolaridad" placeholder="Primaria primer año" type="text" class="validate">
        <label for="rol">Escribe lo que desea buscar decuerdo a la categoria seleccionada</label>     
    </div>
</div>