
        <div class='row'>
          <!--Elemento-->
          <div class="file-field input-field">
            <div class="input-field col s12">
              <?=textAreaG("idRol","Rol",$Rol_id,"nombre");?>  
            </div>
          </div>
        </div>

          <!--Elemento-->
        <div class='row'>
          <div class="file-field input-field">
            <div class="input-field col s12">
              <?=textCamp("idRol","Rol",$Rol_id,"descripcion");?>   
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="file-field input-field">
            <div class="input-field col s12 l12 left">
              <button  id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
              </button>
              <a id="" href="consultarRoles.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
              </a>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>




