


<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class=" center" data-indicators="true">
  <div class=" teal lighten-5 " href="#one!">
      <div class="row">
    <div class="col s12 align-center">
      <form action="Controladores\Usuario\controladorAltaUsuario.php" method="post">
        <!--Elemento-->
        <div class="row">
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="Murray Torphy Jr." type="text"  name="usuario_nombre" id="usuario_nombre" required>

            <label for="rol"><strong>Nombre del Usuario</strong></label>     
          </div>
        </div>
      </div>
      <div class="row">
        <!--Elemento-->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input placeholder="transmittin@gamil.com" id="email" type="email" class="validate" name="email" id="email">
            <label for="email">Usuario</label>   
          </div>
        </div>
      </div>
      <div class="row">
        <!--Elemento-->
        <div class="file-field input-field">
          <div class="input-field col s12">
            <i class="material-icons prefix"> </i>
            <input id="password" name="password"  type="password" class="validate">
            <label for="rol"><strong>Contraseña</strong></label>     
          </div>
        </div>
      </div>
      <div class="row">
          <!-- Elemento -->
        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">
            <button  id="test" class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a id="" href="usuarios.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
            </a>
            
        </div>
        </div>
      </div>
      </form>
    </div>
      </div>
  </div>
</div>
</div>
</div>
