
<br>
<div class="row">
  <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input placeholder="Buscar" type="text" class="validate">
      <label for="rol">Buscar</label>
  </div>
</div>
<table class="responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombres</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Escuela 1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Escuela 2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Escuela 3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Escuela 4</td>
    </tr>
  </tbody>
</table>