
<div class="row">
    <div class="input-field col s2">
            <select id="OrdenarPorD" name="OrdenarPorD" required>
                <option value="1" >Ascendente</option>
                <option value="0" selected>Descendente</option>
            </select><label>Ordenar por fecha</label>
    </div>
    <div class="input-field col s10">
        <i class="material-icons prefix">search</i>
        <input id="DiscapacidadBeneficiaria" placeholder="Amputación" type="text" class="validate">
        <label for="rol">Escribe el nombre de la discapacidad</label>     
    </div>
</div>