<br>
<div class="row">
    <div class="col s12">
      <h2 id="titulo">Consulta de Expedientes <i class="medium material-icons center">search</i></h2>
    </div>  
</div>
<hr>
<br>
<div class="row">
  <div class="input-field col s10">
      <i class="material-icons prefix">search</i>
      <input placeholder="Buscar" type="text" class="validate">
      <label for="rol">Escribe un ID para buscar</label>     
  </div>
  <div class="col s2">
    <a class="waves-effect waves-light btn"><i class="material-icons right">search</i>Buscar</a>
  </div>
</div>