
<br>
<div class="row">
  <div class="input-field col s12">
      <i class="material-icons prefix">search</i>
      <input placeholder="Buscar" type="text" class="validate">
      <label for="rol">Buscar</label>
  </div>
</div>
<table class="responsive-table">
  <thead>
    <tr>
      <th>No. Expediente</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Luz Francisca</td>
      <td>Ramos</td>
      <td>Garza</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mariana</td>
      <td>Perez</td>
      <td>Hernández</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Maria del Rosario</td>
      <td>Galindo</td>
      <td>Valencia</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Anja</td>
      <td>Ravendale</td>
      <td>Zar</td>
    </tr>
  </tbody>
</table>