
<br>
<div class="card teal lighten-2">
<div class="card-content teal lighten-3">
<div class=" center" data-indicators="true">

  <div class=" teal lighten-5 " href="#one!" id="carousel-Docs" >
    <div class='row'>

    <div class="col s12 align-center">
      <form action="Controladores\Institucion\controladorAltaInstitucion.php" method="POST">
        <!-- Elemento -->
        <div class='row'>

        <div class="file-field input-field">
          <div class="input-field col s12 l12">
            <i class="material-icons prefix"> </i>
            <input name="nombre" placeholder="Nueva Institucion" type="text" class="validate" required>
            <label for="rol"><strong>Nombre de la Institucion</strong></label>     
        </div>
        </div>
      </div>
        <div class='row'>

        <div class="file-field input-field">
          <div class="input-field col s12 l12 left">

            <button class="waves-effect waves-light btn right" type="submit" name="action">Registrar
              <i class="material-icons right">add</i>
            </button>
            <a id="" href="consultaInstitucion.php" class="waves-effect green lighten-3 btn right">Volver<i class="material-icons right">undo</i>
            </a>
        </div>
        </div>
      </div>
      </form>
      </div>
  </div>
</div>
</div>
</div>
</div>